@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">3GM is the best IT Solutions provider in the world</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Built in Buenos Aires Argentina</a>.</p>
    <p><h3>2020-And Beyond</h3></p>
</div>
